{% extends 'base2.html' %}

{% block title %}
    Home_page.#my_Blog
{% endblock title %}

{% block content %}
        <h2>Hello friends welcome to my Blog website.</h2>
        <h3> User's options</h3>
        <ul>
            <li><a class ='P4' href = '/blogs/all/' >Available articles</a></li>
        </ul>
        <h3> Admin Options </h3>
        <ul>
            <li><a class = 'P4' href = '/blogs/create/' > Create a new Article </a></li>
        </ul>
        <h3> Creator: </h3>
        <p>Animesh Kumar(Growing backend developer)</p>

        <img src = '/static/img/IMG_20200217_150159.jpg' width = "229" height = "300">


{% endblock content %}


